

/* Made for index.css */
/*Google Fonts

font-family: 'Righteous', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Teko', sans-serif;
*/

body {
background-color: deepskyblue;
font-family:'Times New Roman', Times, serif ;
}

#main-nav{
background-color: powderblue;
font-weight: bold;
font-variant-caps: all-small-caps;
font-size: 1.3rem;
}

#main-nav a:link {
    color: rgb(240, 246, 255);
}

#main-nav a:visited {
    color: blueviolet;
}

#main-nav a:hover {
    color: crimson;
    background-color: darkblue;
}

a:link{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
}
header {
    height: 80vh;
    background-image:url(../img/boxing-glove.jpg);
    background-repeat: no-repeat;
}

h1, h2{
color: firebrick;
font-variant :small-caps;
}

h1{
    font-size:2.5rem ;
    text-shadow: 1.5px 1.5px ;
}



h2{
    font-size: 3rem;
    color: rgb(250, 6, 6);
    font-style: initial;
    font-family: 'Teko', sans-serif;
    font-variant: unset;
}


p{
    font-size: 1.6rem;
    font-family: 'Righteous', cursive;
    color: azure ;}

.work-class{
    font-size: 1.3rem;
}
ul, li{
    list-style-type: none;
}